	figcaption {
font-size: 20px;

}

	body { 
		background-color: black;
		
						}
		  
	  li {margin: 10px}
          
          ul li { display: inline; 
		  		
		}
          
          .main figcaption { font-style: italic;
			font-size: 30px;
			color: yellow; 
			text-align: center;
						}
          
          .main img {
		border-radius: 40%;
		width: 650px;
		height: 600px;
		padding: 10px 10px 10px 10px;
		display: block;
		margin: auto;
		
				}
		.main {
			background-color: darkgreen;
			margin: 0;
			background: darkgreen url(Images/fire-burning.jpeg) top left repeat;
			  
			}
		.main p {
			font-size: 25px;
			border: 5px solid black;
			
			color: red ;
}
		

         .c10 img {
		border-radius: 40%;
		width: 650px;
		height: 600px;
		padding: 10px 10px 10px 10px;
		display: block;
		margin: auto; }
		
		.c10 { 
		background: maroon url(Images/c10background.jpg) center center repeat; }
		
	.c10 figcaption { 
			color: orange; 
			font-size: 30px;}
	.c10 h2 {
		color: lawngreen;
          border: 5px solid #7777aa;
          text-align: center;
		font-size: 30px; }
	.c10-2 img {
		border-radius: 30%;
		width: 800px;
		height: 550px;
		padding: 10px 10px 10px 10px;
		display: block;
		margin-bottom: 20px; 
		float: left; 
				}
	.c10-2 figcaption {
	color: orange; 
	font-weight: bold;
	
}
	.c10-2 ul, li {
		text-align: center; }
	

	   
	 h1 {color: #ff7777;
          border: solid;
              font-style: oblique;
             margin: 50px auto 50px auto;
             padding: 15px;
             border-color: black;
	     background-color: brown;
	     width: 240px;
	  text-align: center;
 				}
            
        .header p {
		color: black;
          	margin: 0 auto 30px auto
		font-size: 200%;
		font-weight: bold;
		line-height: 20px;
	  				}
          
         h2 {
	  color: orange;
          border: 5px solid #7777aa;
          text-align: center;
		font-size: 30px;
					}
         
          input {
		border-radius: 4px 4px 4px 4px;
		text-align: center;
		margin: 0 auto 0 auto;
					
					}
          
	.RMH {
		list-style-type: none;
		padding: 5px;
		font-style: italic;
		border: 5px solid #332211;
		text-decoration: underline;
		background-color: #11ffff;
		text-align: center;
	}
		
        
	.header {  background-color: orange; 
		padding: 10px 10px 10px 10px;
		background: orange url(images/fire.jpg) right right repeat;
	}
		
	.fire { 
		width: 400;
		height: 400;
		background: white url(Images/fire.jpg) right right repeat; 
		   
	}
		

	.main RMH { 
		background-color: lawngreen;
		width: 650px;
		}
	footer { background-color: brown;
		color: silver; 
		font-size: 20px; 
		width: 100px;
		margin: 5px auto 5px auto;
		display: block;
	}
	

	a {
		color: blue;
		transition-property: color;
		transition-duration: 0.0s;
		transition-timing-function: ease;
		transition-delay: 0.1s; 
		text-align: center;
		display: block;
		font-size: 25px;
	}
	a:hover {
		color: yellow;
	
	
		
